@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
        padding: 0px;
    }
    .section{
        padding:70px 0px;
    }
    .breadcrumbs {
        padding: 110px 0px 70px 0px;
    }
    .breadcrumbs .bread-inner {
        padding: 0px 60px;
    }
    .header .nav li {
        margin-right: 2px;
    }
    .header .nav li a {
        font-size: 13px;
        padding: 25px 6px 20px 6px;
        font-size: 12px;
    }
    .hero-section1{
        height:555px;
        width:100%;
    }
    .watch-video .content {
        padding: 50px 40px;
    }
    .watch-video .video-main {
        position: relative;
        width: 100%;
        height: 400px;
        left: 0;
    }
    .hero-section1 .hero-content {
        margin-top: 0px;
    }
    .hero-section1 .hero-image{
        display:none;
    }
    .mobile-slider-area{
        display:none;
    }
    .section-hero2 .hero-content-wrap {
        height: 355px;
    }
    .section-hero3 .hero-image {
        display:none;
    }
    .section-hero3 {
        padding: 0 0px 150px 0px;
    }
    .section-hero4.section {
        padding: 100px 0px 195px 0px;
    }
    .section-hero4 .right-image{
        display:none;
    }
    .section-hero4 .hero-c-head {
        margin-top: 20px;
    }
    .promo .single-promo .promo-content {
        padding:0;
        padding: 30px 12px;
    }
    .promo .single-promo .promo-content h4 {
        font-size: 16px;
    }
    .promo .single-promo .promo-content p {
        font-size: 13px;
        line-height:22px;
    }
    .screenshot-frame {
        
    }
    .screen-wrap .single-slide {
        margin-left: 0px;
    }
    .screenshot-frame {
        width: 260px;
        height: 515px;
        margin-right: -130px;
    }
    .team .team-hover .social {
        margin-top: 95px;
    }
    
    .testimonials .contact-form-box {
        padding: 0px 60px;
        padding-bottom: 60px;
    }
    .team .xs-team {
        margin-bottom: 30px;
    }
    .download-section{
        background-attachment:fixed;
    }
    .product-counter-section .counter-list li {
        margin:0px;
        margin-right: 10px;
    }
    .product-counter-section .counter-list .count {
        font-size: 20px;
    }
    .product-counter-section .counter-list .title {
        font-size: 14px;
    }
    .product-counter-section .counter-title {
        font-size: 20px;
    }
    .product-counter-section .counter-content-wrap p{
        font-size: 14px;
    }
    .counter-content-wrap i {
        top: 3px;
    }
    .pricing-table .section-title {
        margin-bottom: 30px;
    }
    .faq-area img {
        margin-top:20px;
    }
    .blog .single-news {
        margin-bottom:30px;
    }
    .blog-single .blog-title {
        font-size: 24px;
    }
    .blog-single .comments .comment-title {
        margin-bottom:0px;
    }
    .contact-us-form .form-group .form-control {
        height: 45px;
    }
    .newslatter {
        background-position: center;
    }
    .newslatter .inner {
        padding: 70px 0;
    }
    .clients .content {
        padding-right: 65px;
        margin-bottom: 30px;
    }
    .error-page .error-inner h2 {
        font-size: 130px;
    }
    .error-page .error-inner h5 {
        font-size: 17px;
    }
    .demo-section .demo-content h2 {
        font-size: 55px;
    }
    .footer .footer-top {
        padding-top: 35px;
    }
    .footer .f-about {
        padding-right:0px;
    }
    .footer .f-about .text {
        font-size: 13px;
    }
    .footer .f-link ul li a {
        font-size: 13px;
    }
    .footer .copyright {
        margin-top: 35px;
    }
    .footer .copyright-content p {
        font-size: 13px;
        padding:0;
    }
    .footer .copyright-content .social li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    
    }
    @media only screen and (max-width: 767px){
    .section-title {
        padding: 0px;
    }
    .section-title h2 {
        font-size: 27px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .section-title p {
        font-size: 14px;
        line-height: 22px;
    }
    .section{
        padding:60px 0px;
    }
    .breadcrumbs {
        text-align: center;
        padding: 60px 0px 70px 0px;
    }
    .breadcrumbs h2{
        margin-bottom:10px;
    }
    .breadcrumbs h2,
    .breadcrumbs .bread-list {
        float: none;
    }
    .breadcrumbs .bread-inner {
        padding: 0px 10px;
    }
    .header .main-menu {
        display: block;
        position: relative;
        background:linear-gradient(45deg,#F1689C,#6E5BE8);
    }
    /* Sticky */
    .header .sticky {
        position: fixed;
        width: 100%;
        top: 0;
        animation: fadeInDown 0.8s both 0s;
    }
    .header .nav li.current a,
    .header .nav li:hover a,
    .header .nav li:focus a {
        color: #755ce4;
        background: #fff;
    }
    .mobile-nav{
        display:block;
    }
    .header .mobile-nav{
        display:block;
        position:relative;
    }
    .header .slicknav_menu {
        background: transparent;
        padding: 0;
        padding-bottom: 22px;
    }
    .header .slicknav_btn {
        background: #fff;
        color: #755ce4;
        padding: 8px 9px;
        margin: -31px 0px 0 0px;
        border: none;
        border-radius: 0px;
        text-shadow: none;
    }
    .header .drop-down .slicknav_nav .slicknav_arrow {
        display: block;
    }
    .header .slicknav_menu .mega-widget p {
        color: #fff;
        margin: 10px 0;
    }
    .header .slicknav_menu .mega-widget img{
        width:100%;
    }
    .header .slicknav_menu .mega-widget .image a{
        display:none;
    }
    .header .slicknav_menu .list-menu span{
        margin-right:10px;
    }
    .header .slicknav_menu .list-menu{
        display:block;
    }
    .header .slicknav_menutxt {
        text-shadow:none;
    }
    .header .slicknav_nav .slicknav_arrow {
        float: right;
    }
    .header .slicknav_nav li{
        -webkit-transition:all 0.2s ease;
        -moz-transition:all 0.2s ease;
        transition:all 0.2s ease;
    }
    .header .slicknav_nav a {
        margin: 0;
        color: #333;
        background: transparent;
        overflow: hidden;
        -webkit-transition:all 0.2s ease;
        -moz-transition:all 0.2s ease;
        transition:all 0.2s ease;
        background:transparent;
    }
    .header .slicknav_nav a:hover,
    .header .slicknav_nav a:focus,
    .header .slicknav_nav a:active{
        color:#333;
        background:#fff;
    }
    .header .slicknav_nav li:hover a{
        color:#755ce4;
    }
    .header .slicknav_nav a i {
        display:none;
    }
    .header .slicknav_nav {
        padding: 5px;
        background: #fff;
        padding: 15px 10px;
        margin-top: 10px;
    }
    .header .slicknav_nav .mega-inner a h4 {
        float: left;
        font-weight: 500;
    }
    .header .nav li {
        margin-right: 2px;
    }
    .header .nav li a {
        font-size: 13px;
        padding: 25px 6px 20px 6px;
        font-size: 12px;
    }
    .hero-section1{
        height:500px;
        width:100%;
    }
    .hero-section1.section {
        padding: 20px 0px 130px 0px;
    }
    .hero-section1 .hero-content {
        margin-top: 0px;
    }
    .hero-section1 .hero-content h1 {
        font-size: 27px;
        line-height: 34px;
    }
    .hero-section1 .hero-content p {
        font-size: 14px;
        /* letter-spacing: 0.5px; */
        line-height: 24px;
        margin-bottom: 30px;
        color: #fff;
    }
    .hero-section1 .hero-image{
        display:none;
    }
    .mobile-slider-area{
        display:none;
    }
    .section-hero2.section{
        padding-bottom:105px;
    }
    .section-hero2 .hero-content-wrap {
        height: 355px;
    }
    .section-hero2 .hero-content h1 {
        font-size: 33px;
        line-height: 42px;
    }
    .section-hero3 .hero-image {
        display:none;
    }
    .section-hero3 {
        padding: 0 0px 150px 0px;
    }
    .section-hero3 .hero-content {
        margin-top: 45px;
    }
    .section-hero3 .hero-content h1 {
        font-size: 33px;
        line-height: 42px;
    }
    .section-hero4.section {
        padding: 30px 0px 110px 0px;
    }
    .section-hero4::after {
        height: 115px;
    }
    .section-hero4 .hero-content h1 {
        font-size: 33px;
        line-height: 42px;
    }
    .section-hero4 .right-image{
        display:none;
    }
    .section-hero4 .hero-c-head {
        margin-top:0px;
    }
    .section-hero4 .input-group input {
        padding: 0px 130px 0px 10px;
    }
    .section-hero4 .input-group button {
        width: 120px;
    }
    .watch-video .content {
        padding: 40px 10px;
    }
    .watch-video .video-main {
        position: relative;
        width: 100%;
        height: 300px;
        left: 0;
    }
    .promo .single-promo {
        margin-bottom: 25px;
    }
    .promo .single-promo .promo-content {
        padding:0;
        padding: 30px 12px;
    }
    .promo .single-promo .promo-content h4 {
        font-size: 16px;
    }
    .promo .single-promo .promo-content p {
        font-size: 13px;
        line-height:22px;
    }
    .screen-wrap .single-slide {
        margin-left: 0px;
    }
    .screenshot-frame {
        display: none;
    }
    .overview-list {
        display: block;
    }
    .team .team-hover .social {
        margin-top: 50px;
    }
    .testimonials .contact-form-box {
        padding: 0px 60px;
        padding-bottom: 60px;
    }
    .team .xs-team {
        margin-bottom: 30px;
    }
    .download-section{
        background-attachment:fixed;
    }
    .download-btn {
        margin-right:0px;
    }
    .download-app-button {
        float: none;
        text-align: center;
        display: inline-grid;
    }
    .product-counter-section .counter-list li {
        margin: 0px;
        margin-top: 12px;
        display: block;
        text-align: center;
    }
    .product-counter-section .counter-content-wrap {
        text-align: center;
        padding-top: 60px;
    }
    .counter-content-wrap i {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        text-align: center;
    }
    .product-counter-section .counter-list .count {
        font-size: 20px;
    }
    .product-counter-section .counter-list .title {
        font-size: 14px;
    }
    .product-counter-section .counter-title {
        font-size: 20px;
    }
    .product-counter-section .counter-content-wrap p{
        font-size: 14px;
    }
    .counter-content-wrap i {
        top: 3px;
    }
    .pricing-table .section-title {
        margin-bottom: 30px;
    }
    .faq-area img {
        margin-top:20px;
    }
    .blog .single-news {
        margin-bottom:30px;
    }
    .blog-single .blog-title {
        font-size: 18px;
    }
    .blog-single blockquote {
        padding: 25px 20px 25px 45px;
    }
    .blog-single blockquote i {
        font-size: 22px;
        left: 12px;
        top: 12px;
    }
    .blog-single .content .img-post .img-text p i {
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .blog-single .share-social .share-inner ul {
        float: none;
        margin-top: 20px;
    }
    .blog-single .comments .single-comment.left {
        margin-left:0px;
    }
    .blog-single .comments .single-comment {
        padding: 20px 0px;
    }
    .blog-single .comments .single-comment img {
        height: 65px;
        width: 65px;
    }
    .blog-single .single-comment .content {
        padding-left: 85px;
    }
    .blog-single .reply .form-group {
        margin-bottom: 15px;
    }
    .blog-single .comments .comment-title {
        margin-bottom:0px;
    }
    .contact-us .section-title h2 {
        font-size: 27px;
    }
    .contact-us-form .form-group .form-control {
        height: 45px;
    }
    .newslatter {
        background-position: center;
    }
    .newslatter .inner {
        padding: 70px 10px;
    }
    .newslatter .content h2 {
        font-size: 25px;
    }
    .clients .content {
        padding-right: 65px;
        margin-bottom: 30px;
    }
    .error-page .error-inner h2 {
        font-size: 100px;
    }
    .error-page .error-inner h5 {
        font-size: 16px;
    }
    .mail-success .mail-inner h2 {
        font-size: 30px;
    }
    .demo-section .demo-content h2 {
        font-size: 33px;
    }
    .demo-section .demo-content h2 span {
        font-weight: 600;
        font-size: 13px;
    }
    .demo-section .demo-content p {
        margin-top: 10px;
    }
    .footer .footer-top {
        padding-top: 35px;
    }
    .footer .single-footer h3 {
        margin-bottom:0px;
    }
    .footer .f-about {
        padding-right:0px;
    }
    .footer .f-about .text {
        font-size: 13px;
    }
    .footer .f-link ul li a {
        font-size: 13px;
    }
    .footer .copyright {
        margin-top: 35px;
        text-align:center;
    }
    .footer .copyright-content p {
        font-size: 13px;
        padding:0;
    }
    .footer .copyright-content .social {
        float: none;
        margin-top: 10px;
    }
    .footer .copyright-content .social li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    }